In [1]:
import pandas as pd
import numpy as np

In [2]:
print('hello world')

hello world

# 데이터 전처리

## RainFall

### 결측치 처리

In [ ]:
rain_df = pd.read_csv('RainFall(12.08.27_01-00-00 ~ 21.12.31_23-00-00).csv')

In [ ]:
rain_df.isnull().sum()

In [ ]:
rain_col = rain_df.columns
rain_col

from cmath import nan # fillna를 사용하기 위해 NaN 임포트 (fillna 쓰는게 편해보임)

for reg in rain_col:
    print(reg)
    # 10,000 값의 index를 리스트화
    lst = rain_df.loc[rain_df[reg] == 10000].index 

    for n in lst: # 10,000 값을 모두 nan값으로 변경
        
        rain_df.loc[n, reg] = nan

In [ ]:
rain_df.isnull().sum()

In [ ]:
# 강수량은 이전 값(시간)에 영향을 많이 받는다 생각하여 이전값으로 채우는 ffill 사용
rain_df = rain_df.fillna(method='ffill')

In [ ]:
rain_df

## Water Level

In [ ]:
water_level_df = pd.read_csv('Water_Level(12.08.27_01-00-00 ~ 21.12.31_23-00-00).csv')

In [ ]:
water_level_df.isnull().sum() # 띠용 결측치가 없음

## Target (창녕함안보)

In [3]:
target_df = pd.read_csv('data/target.csv')

In [ ]:
target_df

In [ ]:
target_df = target_df[['Unnamed: 0','창녕함안보_수위(EL.m)']] # 필요한 정보만 가져가기

In [4]:
target_df.isnull().sum()

Unnamed: 0        0
창녕함안보_수위(EL.m)    0
dtype: int64

### 결측치(10,000) 처리

In [ ]:
target_col = target_df.columns
target_col

In [5]:
from cmath import nan # fillna를 사용하기 위해 NaN 임포트 (fillna 쓰는게 편해보임)

# 10,000 값의 index를 리스트화
lst = target_df.loc[target_df['창녕함안보_수위(EL.m)'] == 10000].index 
print(lst)

Int64Index([11609], dtype='int64')

In [ ]:

for n in lst: # 10,000 값을 모두 nan값으로 변경
    
    target_df.loc[n, '창녕함안보_수위(EL.m)'] = nan

target_df = target_df.fillna(method='ffill')

### Time index 맞추기 (12.08.27 01시 ~ 21.12.31 23시)

In [ ]:
# target_df는 [12.08.27 01 ~ 22.08.29 22] 라서 잘라줘야함
l = target_df.loc[target_df['일시'] == '2012-12-31 23시'].index # 모든 시간 연도값이 12년도라... 이것들 중에 골라야함
l

In [ ]:
l[-1] # 2021년도 12.31 23시 자료

target_df = target_df.truncate(after = l[-1]) # l[-1] 이후로 잘라내기

In [ ]:
target_df

# 저장

### 데이터 확인

In [ ]:
rain_df

In [ ]:
water_level_df

In [ ]:
target_df

### 저장

In [ ]:
data = pd.DataFrame()
data.index = water_level_df['Unnamed: 0']

In [ ]:
# water level / rain fall 합체
df1 = pd.concat([water_level_df, rain_df], axis=1)
df1.index = df1['Unnamed: 0']
df1 = df1.drop(['Unnamed: 0'], axis=1)
df1

In [ ]:
df1.to_csv('data.csv', encoding='utf-8-sig')

In [ ]:
target_df.to_csv('data/target_test.csv', encoding='utf-8-sig')