In [1]:
import pandas as pd
import numpy as np

In [2]:
print('hello world')

hello world

# 데이터 전처리

## RainFall

### 결측치 처리

In [3]:
rain_df = pd.read_csv('RainFall(12.08.27_01-00-00 ~ 21.12.31_23-00-00).csv')

FileNotFoundError: [Errno 2] No such file or directory: 'RainFall(12.08.27_01-00-00 ~ 21.12.31_23-00-00).csv'

In [ ]:
rain_df.isnull().sum()

In [ ]:
rain_col = rain_df.columns
rain_col

from cmath import nan # fillna를 사용하기 위해 NaN 임포트 (fillna 쓰는게 편해보임)

for reg in rain_col:
    print(reg)
    # 10,000 값의 index를 리스트화
    lst = rain_df.loc[rain_df[reg] == 10000].index 

    for n in lst: # 10,000 값을 모두 nan값으로 변경
        
        rain_df.loc[n, reg] = nan

In [ ]:
rain_df.isnull().sum()

In [ ]:
# 강수량은 이전 값(시간)에 영향을 많이 받는다 생각하여 이전값으로 채우는 ffill 사용
rain_df = rain_df.fillna(method='ffill')

In [ ]:
rain_df

## Water Level

In [ ]:
water_level_df = pd.read_csv('Water_Level(12.08.27_01-00-00 ~ 21.12.31_23-00-00).csv')

In [ ]:
water_level_df.isnull().sum() # 띠용 결측치가 없음

## Target (창녕함안보)

In [6]:
target_df = pd.read_csv('data/창녕함안보(12.08.27 ~).csv')

In [7]:
target_df # 10년치 자료 맞는데 일시 col의 숫자만 2012로 나옴.. 정상적인 자료임

,Unnamed: 0,일시,수위(EL.m),방수로수위(EL.m),저수량(백만㎥),저수율(%),강우량(mm),총유입량(㎥/s),자체유입(㎥/s),외부유입(㎥/s),총방류량(㎥/s),소수력(㎥/s),상수도취수(㎥/s),가동보(㎥/s),관리수위이상자연월류,관계용수취수(㎥/s),자연형 어도(좌안)_EL.3.9m,인공형 어도(우안)_EL.4.8m
0,0,2012-08-27 01시,5.450,1.64,106.2753,105.3,0.0,"2,012.950","2,012.950",0.0,"1,979.978",73.448,0.000,"1,568.312",336.928,0.000,0.75,0.54
1,1,2012-08-27 02시,5.450,1.64,106.2753,105.3,0.0,"1,985.586","1,985.586",0.0,"1,985.586",73.322,0.000,"1,569.457",341.517,0.000,0.75,0.54
2,2,2012-08-27 03시,5.450,1.64,106.2753,105.3,0.0,"1,929.865","1,929.865",0.0,"1,929.865",73.385,0.000,"1,567.100",288.090,0.000,0.75,0.54
3,3,2012-08-27 04시,5.450,1.67,106.2753,105.3,0.0,"1,928.188","1,928.188",0.0,"1,928.188",73.260,0.000,"1,565.548",288.090,0.000,0.75,0.54
4,4,2012-08-27 05시,5.450,1.69,106.2753,105.3,0.0,"1,927.172","1,927.172",0.0,"1,927.172",73.402,0.000,"1,564.390",288.090,0.000,0.75,0.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87712,87712,2012-08-29 18시,3.096,0.78,64.8982,64.3,0.1,54.388,-159.557,213.945,66.499,0.000,3.034,54.692,0.0,8.773,0.00,0.00
87713,87713,2012-08-29 19시,3.132,0.82,65.2906,64.7,0.0,255.387,40.431,214.956,146.387,0.000,3.034,134.58,0.0,8.773,0.00,0.00
87714,87714,2012-08-29 20시,3.150,0.81,65.4869,64.9,0.0,258.113,43.86,214.253,203.585,0.000,3.034,191.778,0.0,8.773,0.00,0.00
87715,87715,2012-08-29 21시,3.156,0.82,65.5523,65.0,0.0,223.616,9.296,214.320,205.449,0.000,3.034,193.642,0.0,8.773,0.00,0.00
87716,87716,2012-08-29 22시,3.120,0.83,65.1598,64.6,0.0,149.156,149.156,0.000,258.184,0.000,3.034,246.377,0.0,8.773,0.00,0.00

In [8]:
target_df = target_df[['일시','수위(EL.m)']] # 필요한 정보만 가져가기

In [9]:
target_df.isnull().sum()

일시          0
수위(EL.m)    0
dtype: int64

### Time index 맞추기 (12.08.27 01시 ~ 21.12.31 23시)

In [10]:
# target_df는 [12.08.27 01 ~ 22.08.29 22] 라서 잘라줘야함
l = target_df.loc[target_df['일시'] == '2012-12-31 23시'].index # 모든 시간 연도값이 12년도라... 이것들 중에 골라야함
l

Int64Index([3046, 11805, 20565, 29325, 38109, 46869, 55629, 64389, 73173,
            81933],
           dtype='int64')

In [11]:
l[-1] # 2021년도 12.31 23시 자료

target_df = target_df.truncate(after = l[-1]) # l[-1] 이후로 잘라내기

In [12]:
target_df

                   일시  수위(EL.m)
0      2012-08-27 01시      5.45
1      2012-08-27 02시      5.45
2      2012-08-27 03시      5.45
3      2012-08-27 04시      5.45
4      2012-08-27 05시      5.45
...               ...       ...
81929  2012-12-31 19시      4.89
81930  2012-12-31 20시      4.89
81931  2012-12-31 21시      4.90
81932  2012-12-31 22시      4.90
81933  2012-12-31 23시      4.90

[81934 rows x 2 columns]

# 저장

### 데이터 확인

In [ ]:
rain_df

In [ ]:
water_level_df

In [ ]:
target_df

### 저장

In [ ]:
data = pd.DataFrame()
data.index = water_level_df['Unnamed: 0']

In [ ]:
# water level / rain fall 합체
df1 = pd.concat([water_level_df, rain_df], axis=1)
df1.index = df1['Unnamed: 0']
df1 = df1.drop(['Unnamed: 0'], axis=1)
df1

In [ ]:
df1.to_csv('data.csv', encoding='utf-8-sig')

In [13]:
target_df.to_csv('target.csv', encoding='utf-8-sig')