In [60]:
import pandas as pd
import numpy as np

In [61]:
raw_path = "./dataset/raw/"

WaterLevel = pd.read_csv(raw_path + "WaterLevel.csv")
RainFall = pd.read_csv(raw_path + "RainFall.csv")
Target = pd.read_csv(raw_path + "Target.csv")

In [62]:
WaterLevel[:5]

,Unnamed: 0,수산대교(창원)_수위,여의리(의령군)_수위,의령군(정암교)_수위,함안군(서출리)_수위,합천군(적포교)_수위
0,2012-08-27 1:00,1.52,0.57,3.83,4.41,0.63
1,2012-08-27 2:00,1.52,0.57,3.82,4.4,0.63
2,2012-08-27 3:00,1.54,0.57,3.81,4.39,0.62
3,2012-08-27 4:00,1.58,0.57,3.79,4.38,0.61
4,2012-08-27 5:00,1.63,0.57,3.77,4.37,0.60

In [63]:
RainFall[:5]

,Unnamed: 0,길곡_강수량(mm),대병_강수량(mm),창녕_강수량(mm),청덕_강수량(mm),함안_강수량(mm)
0,2012-08-27 01:00:00,0.0,0.0,0.0,0.0,0.0
1,2012-08-27 02:00:00,0.0,0.0,0.0,0.0,0.0
2,2012-08-27 03:00:00,0.0,0.0,0.0,0.0,0.0
3,2012-08-27 04:00:00,0.0,0.0,0.0,0.0,0.0
4,2012-08-27 05:00:00,0.0,0.0,0.0,0.0,0.0

In [64]:
Target[:5]

   Unnamed: 0         Unnamed: 0.1  창녕함안보_수위(EL.m)
0           0  2012-08-27 01:00:00            5.45
1           1  2012-08-27 02:00:00            5.45
2           2  2012-08-27 03:00:00            5.45
3           3  2012-08-27 04:00:00            5.45
4           4  2012-08-27 05:00:00            5.45

In [65]:
print("Length of WaterLevel: ", len(WaterLevel))
print("Length of Rainfall: ", len(RainFall))
print("Length of Target: ", len(Target))

Length of WaterLevel:  81935
Length of Rainfall:  81935
Length of Target:  81935

# 시간 표현법 통일

In [66]:
# 수위
df = WaterLevel['Unnamed: 0'].str.split(" ", expand=True)
WaterLevel['date'] = df[0]
WaterLevel['time'] = df[1]
WaterLevel.drop(['Unnamed: 0'], axis=1, inplace=True)

In [67]:
WaterLevel['time'].unique()

array(['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
       '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
       '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00',
       '23:00', '0:00'], dtype=object)

In [68]:
WaterLevel['time'] = pd.to_numeric(WaterLevel['time'].str.split(":", expand=True)[0])       # 시간을 통일된 표기로 정리
WaterLevel[:5]

,수산대교(창원)_수위,여의리(의령군)_수위,의령군(정암교)_수위,함안군(서출리)_수위,합천군(적포교)_수위,date,time
0,1.52,0.57,3.83,4.41,0.63,2012-08-27,1
1,1.52,0.57,3.82,4.4,0.63,2012-08-27,2
2,1.54,0.57,3.81,4.39,0.62,2012-08-27,3
3,1.58,0.57,3.79,4.38,0.61,2012-08-27,4
4,1.63,0.57,3.77,4.37,0.60,2012-08-27,5

In [69]:
# 강수량
df = RainFall['Unnamed: 0'].str.split(" ", expand=True)
RainFall['date'] = df[0]
RainFall['time'] = df[1]
RainFall.drop(['Unnamed: 0'], axis=1, inplace=True)

In [70]:
RainFall['time'].unique()

array(['01:00:00', '02:00:00', '03:00:00', '04:00:00', '05:00:00',
       '06:00:00', '07:00:00', '08:00:00', '09:00:00', '10:00:00',
       '11:00:00', '12:00:00', '13:00:00', '14:00:00', '15:00:00',
       '16:00:00', '17:00:00', '18:00:00', '19:00:00', '20:00:00',
       '21:00:00', '22:00:00', '23:00:00', '00:00:00'], dtype=object)

In [71]:
RainFall['time'] = pd.to_numeric(RainFall['time'].str.split(":", expand=True)[0])       # 시간을 통일된 표기로 정리
RainFall[:5]

,길곡_강수량(mm),대병_강수량(mm),창녕_강수량(mm),청덕_강수량(mm),함안_강수량(mm),date,time
0,0.0,0.0,0.0,0.0,0.0,2012-08-27,1
1,0.0,0.0,0.0,0.0,0.0,2012-08-27,2
2,0.0,0.0,0.0,0.0,0.0,2012-08-27,3
3,0.0,0.0,0.0,0.0,0.0,2012-08-27,4
4,0.0,0.0,0.0,0.0,0.0,2012-08-27,5

In [72]:
Target

       Unnamed: 0         Unnamed: 0.1  창녕함안보_수위(EL.m)
0               0  2012-08-27 01:00:00            5.45
1               1  2012-08-27 02:00:00            5.45
2               2  2012-08-27 03:00:00            5.45
3               3  2012-08-27 04:00:00            5.45
4               4  2012-08-27 05:00:00            5.45
...           ...                  ...             ...
81930       81930  2021-12-31 19:00:00            4.89
81931       81931  2021-12-31 20:00:00            4.89
81932       81932  2021-12-31 21:00:00            4.90
81933       81933  2021-12-31 22:00:00            4.90
81934       81934  2021-12-31 23:00:00            4.90

[81935 rows x 3 columns]

In [73]:
# Target
Target['date'] = df[0]
Target['time'] = df[1]
Target.drop(['Unnamed: 0'], axis=1, inplace=True)

In [74]:
Target['time'].unique()

array(['01:00:00', '02:00:00', '03:00:00', '04:00:00', '05:00:00',
       '06:00:00', '07:00:00', '08:00:00', '09:00:00', '10:00:00',
       '11:00:00', '12:00:00', '13:00:00', '14:00:00', '15:00:00',
       '16:00:00', '17:00:00', '18:00:00', '19:00:00', '20:00:00',
       '21:00:00', '22:00:00', '23:00:00', '00:00:00'], dtype=object)

In [75]:
Target['time'] = Target['time'].str.split(":", expand=True)[0]       # 시간을 통일된 표기로 정리

In [76]:
Target['time'] = pd.to_numeric(Target['time'].str.replace("시", ""))
Target[:5]

          Unnamed: 0.1  창녕함안보_수위(EL.m)        date  time
0  2012-08-27 01:00:00            5.45  2012-08-27     1
1  2012-08-27 02:00:00            5.45  2012-08-27     2
2  2012-08-27 03:00:00            5.45  2012-08-27     3
3  2012-08-27 04:00:00            5.45  2012-08-27     4
4  2012-08-27 05:00:00            5.45  2012-08-27     5

In [77]:
print("수위 결측치: ", WaterLevel.isnull().sum())
print("강수량 결측치: ", RainFall.isnull().sum())
print("타겟 결측치: ", Target.isnull().sum())

수위 결측치:  수산대교(창원)_수위    0
여의리(의령군)_수위    0
의령군(정암교)_수위    0
함안군(서출리)_수위    0
합천군(적포교)_수위    0
date           0
time           0
dtype: int64
강수량 결측치:  길곡_강수량(mm)     369
대병_강수량(mm)     795
창녕_강수량(mm)     611
청덕_강수량(mm)    1080
함안_강수량(mm)     475
date             0
time             0
dtype: int64
타겟 결측치:  Unnamed: 0.1      0
창녕함안보_수위(EL.m)    0
date              0
time              0
dtype: int64

# 결측값 제거

## 강수량

In [78]:
from cmath import nan

for reg in RainFall.columns:
    lst = RainFall.loc[RainFall[reg] == 10000].index

    for n in lst:       # 10,000 값을 모두 nan 값으로 변경
        RainFall.loc[n, reg] = nan

In [79]:
RainFall.isnull().sum()

길곡_강수량(mm)     445
대병_강수량(mm)    1063
창녕_강수량(mm)     690
청덕_강수량(mm)    1239
함안_강수량(mm)     505
date             0
time             0
dtype: int64

In [80]:
# 이전 row 값으로 채움
RainFall = RainFall.fillna(method="ffill")

In [81]:
RainFall.isnull().sum()

길곡_강수량(mm)    0
대병_강수량(mm)    0
창녕_강수량(mm)    0
청덕_강수량(mm)    0
함안_강수량(mm)    0
date          0
time          0
dtype: int64

## 수위

In [82]:
WaterLevel.isnull().sum()
# 결측치 없음

수산대교(창원)_수위    0
여의리(의령군)_수위    0
의령군(정암교)_수위    0
함안군(서출리)_수위    0
합천군(적포교)_수위    0
date           0
time           0
dtype: int64

## 창녕함안보 (Target)

In [83]:
Target.columns

Index(['Unnamed: 0.1', '창녕함안보_수위(EL.m)', 'date', 'time'], dtype='object')

In [84]:
Target.isnull().sum()

Unnamed: 0.1      0
창녕함안보_수위(EL.m)    0
date              0
time              0
dtype: int64

In [85]:
lst = Target.loc[Target['창녕함안보_수위(EL.m)'] == 10000].index

for n in lst:
    Target.loc[n, '창녕함안보_수위(EL.m)'] = nan

Target = Target.fillna(method="ffill")

In [86]:
import os
path = "./dataset"
RainFall.to_csv(os.path.join(path, "RainFall.csv"), index=True)
Target.to_csv(os.path.join(path, "Target.csv"), index=True)
WaterLevel.to_csv(os.path.join(path, "WaterLevel.csv"), index=True)

# '-' 바꾸기
2022.09.14

In [87]:
from cmath import nan
import pandas as pd

In [88]:
waterlevel = pd.read_csv("./dataset/WaterLevel.csv")

for reg in waterlevel.columns:
    lst = waterlevel.loc[waterlevel[reg] == '-'].index

    for n in lst:       # 10,000 값을 모두 nan 값으로 변경
        waterlevel.loc[n, reg] = nan

waterlevel = waterlevel.fillna(method="ffill")

/home/khs1/miniconda3/envs/cw-jun/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [89]:
waterlevel.to_csv("./dataset/WaterLevel.csv", index_label=False)

# 총 방류량 사용

In [90]:
import pandas as pd

In [91]:
Target2 = pd.read_csv("./dataset/raw/Target2.csv")

In [92]:
Target2 = Target2.drop(['Unnamed: 0'], axis = 1)

Target2['수위(EL.m)'] = Target2['수위(EL.m)'].astype('float')

Target2['총유입량(㎥/s)'] = Target2['총유입량(㎥/s)'].str.strip()
Target2['총유입량(㎥/s)'] = Target2['총유입량(㎥/s)'].str.replace(',','')
Target2['총유입량(㎥/s)'] = Target2['총유입량(㎥/s)'].astype('float')

Target2['총방류량(㎥/s)'] = Target2['총방류량(㎥/s)'].str.strip()
Target2['총방류량(㎥/s)'] = Target2['총방류량(㎥/s)'].str.replace(',','')
Target2['총방류량(㎥/s)'] = Target2['총방류량(㎥/s)'].astype('float')

In [93]:
Target2[:5]

   수위(EL.m)  총유입량(㎥/s)  총방류량(㎥/s)
0      5.45   2012.950   1979.978
1      5.45   1985.586   1985.586
2      5.45   1929.865   1929.865
3      5.45   1928.188   1928.188
4      5.45   1927.172   1927.172

In [94]:
Target2.columns = ['수위', '총유입량', '총방류량']

In [95]:
Target2[:5]

     수위      총유입량      총방류량
0  5.45  2012.950  1979.978
1  5.45  1985.586  1985.586
2  5.45  1929.865  1929.865
3  5.45  1928.188  1928.188
4  5.45  1927.172  1927.172

In [96]:
Target2['총유입량'].isnull().sum()

0

In [97]:
len(Target2)

81935

In [98]:
Target2.to_csv("./dataset/Target_discharge.csv")

# 컬럼 이름 변경 (단위 제거)

In [99]:
WaterLevel = pd.read_csv("./dataset/WaterLevel.csv")
RainFall = pd.read_csv("./dataset/RainFall.csv")

In [100]:
WaterLevel.columns

Index(['Unnamed: 0', '수산대교(창원)_수위', '여의리(의령군)_수위', '의령군(정암교)_수위',
       '함안군(서출리)_수위', '합천군(적포교)_수위', 'date', 'time'],
      dtype='object')

In [101]:
RainFall.columns = ['Unnamed: 단위(mm)', '길곡강수량', '대병강수량', '창녕강수량', '창덕강수량', '함안강수량', 'date', 'time']

In [102]:
RainFall[:5]

   Unnamed: 단위(mm)  길곡강수량  대병강수량  창녕강수량  창덕강수량  함안강수량        date  time
0                0    0.0    0.0    0.0    0.0    0.0  2012-08-27     1
1                1    0.0    0.0    0.0    0.0    0.0  2012-08-27     2
2                2    0.0    0.0    0.0    0.0    0.0  2012-08-27     3
3                3    0.0    0.0    0.0    0.0    0.0  2012-08-27     4
4                4    0.0    0.0    0.0    0.0    0.0  2012-08-27     5

In [103]:
RainFall.to_csv("./dataset/RainFall.csv")

# Min Max Scaler

In [104]:
from sklearn.preprocessing import MinMaxScaler

In [105]:
RainFall = pd.read_csv("./dataset/RainFall.csv")
WaterLevel = pd.read_csv("./dataset/WaterLevel.csv")

In [106]:
rain_column = RainFall.drop(['Unnamed: 0', 'Unnamed: 단위(mm)', 'date', 'time'], axis=1).columns
water_column = WaterLevel.drop(['Unnamed: 0', 'date', 'time'], axis=1).columns

In [107]:
rain_column

Index(['길곡강수량', '대병강수량', '창녕강수량', '창덕강수량', '함안강수량'], dtype='object')

In [108]:
for column in rain_column:
    scaler = MinMaxScaler()
    X = RainFall[column].values.reshape(-1,1)
    X = scaler.fit_transform(X)
    RainFall[column] = X

In [109]:
for column in water_column:
    scaler = MinMaxScaler()
    X = WaterLevel[column].values.reshape(-1,1)
    X = scaler.fit_transform(X)
    WaterLevel[column] = X

In [110]:
WaterLevel

,Unnamed: 0,수산대교(창원)_수위,여의리(의령군)_수위,의령군(정암교)_수위,함안군(서출리)_수위,합천군(적포교)_수위,date,time
0,0,0.100119,0.230140,0.463054,0.424699,0.235080,2012-08-27,1
1,1,0.100119,0.230140,0.461823,0.423695,0.235080,2012-08-27,2
2,2,0.102503,0.230140,0.460591,0.422691,0.234561,2012-08-27,3
3,3,0.107271,0.230140,0.458128,0.421687,0.234043,2012-08-27,4
4,4,0.113230,0.230140,0.455665,0.420683,0.233524,2012-08-27,5
...,...,...,...,...,...,...,...,...
81930,81930,0.064362,0.786215,0.012315,0.164659,0.428646,2021-12-31,19
81931,81931,0.064362,0.785631,0.012315,0.163655,0.428646,2021-12-31,20
81932,81932,0.064362,0.786215,0.012315,0.163655,0.428646,2021-12-31,21
81933,81933,0.063170,0.786799,0.012315,0.163655,0.428646,2021-12-31,22
81934,81934,0.063170,0.786215,0.012315,0.163655,0.428646,2021-12-31,23

In [111]:
RainFall

,Unnamed: 0,Unnamed: 단위(mm),길곡강수량,대병강수량,창녕강수량,창덕강수량,함안강수량,date,time
0,0,0,0.0,0.0,0.0,0.0,0.0,2012-08-27,1
1,1,1,0.0,0.0,0.0,0.0,0.0,2012-08-27,2
2,2,2,0.0,0.0,0.0,0.0,0.0,2012-08-27,3
3,3,3,0.0,0.0,0.0,0.0,0.0,2012-08-27,4
4,4,4,0.0,0.0,0.0,0.0,0.0,2012-08-27,5
...,...,...,...,...,...,...,...,...,...
81930,81930,81930,0.0,0.0,0.0,0.0,0.0,2021-12-31,19
81931,81931,81931,0.0,0.0,0.0,0.0,0.0,2021-12-31,20
81932,81932,81932,0.0,0.0,0.0,0.0,0.0,2021-12-31,21
81933,81933,81933,0.0,0.0,0.0,0.0,0.0,2021-12-31,22
81934,81934,81934,0.0,0.0,0.0,0.0,0.0,2021-12-31,23

In [112]:
WaterLevel

,Unnamed: 0,수산대교(창원)_수위,여의리(의령군)_수위,의령군(정암교)_수위,함안군(서출리)_수위,합천군(적포교)_수위,date,time
0,0,0.100119,0.230140,0.463054,0.424699,0.235080,2012-08-27,1
1,1,0.100119,0.230140,0.461823,0.423695,0.235080,2012-08-27,2
2,2,0.102503,0.230140,0.460591,0.422691,0.234561,2012-08-27,3
3,3,0.107271,0.230140,0.458128,0.421687,0.234043,2012-08-27,4
4,4,0.113230,0.230140,0.455665,0.420683,0.233524,2012-08-27,5
...,...,...,...,...,...,...,...,...
81930,81930,0.064362,0.786215,0.012315,0.164659,0.428646,2021-12-31,19
81931,81931,0.064362,0.785631,0.012315,0.163655,0.428646,2021-12-31,20
81932,81932,0.064362,0.786215,0.012315,0.163655,0.428646,2021-12-31,21
81933,81933,0.063170,0.786799,0.012315,0.163655,0.428646,2021-12-31,22
81934,81934,0.063170,0.786215,0.012315,0.163655,0.428646,2021-12-31,23

In [113]:
RainFall.to_csv("./dataset/RainFall.csv", index_label=False)
WaterLevel.to_csv("./dataset/WaterLevel.csv", index_label=False)

# 우기(06월 ~ 09월)만 잘라서 사용

In [114]:
RainFall = pd.read_csv('./dataset/RainFall.csv')
WaterLevel = pd.read_csv('./dataset/WaterLevel.csv')
Target = pd.read_csv('./dataset/Target_discharge.csv')

In [115]:
st_idx = 6671 # 
end_idx = 9598
print(RainFall.loc[st_idx, ['date', 'time']])
print(RainFall.loc[end_idx, ['date', 'time']])

year_idx = 365*24
#rs = rainy season ^^

rs_RainFall = RainFall[st_idx:end_idx]
rs_WaterLevel = WaterLevel[st_idx:end_idx]
rs_Target = Target[st_idx:end_idx]

for i in range(9):

    data1 = RainFall
    rs_RainFall = pd.concat([rs_RainFall, data1[st_idx+(i*year_idx) : end_idx+(i*year_idx)]])

    data2 = WaterLevel
    rs_WaterLevel = pd.concat([rs_WaterLevel, data2[st_idx+(i*year_idx) : end_idx+(i*year_idx)]])

    data3 = Target
    rs_Target = pd.concat([rs_Target, data3[st_idx+(i*year_idx) : end_idx+(i*year_idx)]])

date    2013-06-01
time             0
Name: 6671, dtype: object
date    2013-09-30
time            23
Name: 9598, dtype: object

In [116]:
if not os.path.isdir('./dataset/Rainy_season'):
    os.mkdir('./dataset/Rainy_season')
rs_RainFall.to_csv('./dataset/Rainy_season/rs_RainFall.csv', index=False)
rs_WaterLevel.to_csv('./dataset/Rainy_season/rs_WaterLevel.csv', index=False)
rs_Target.to_csv('./dataset/Rainy_season/Target.csv', index=False)

In [117]:
rs_WaterLevel

,Unnamed: 0,수산대교(창원)_수위,여의리(의령군)_수위,의령군(정암교)_수위,함안군(서출리)_수위,합천군(적포교)_수위,date,time
6671,6671,0.051251,0.180491,0.210591,0.215863,0.173326,2013-06-01,0
6672,6672,0.054827,0.182243,0.209360,0.217871,0.177478,2013-06-01,1
6673,6673,0.054827,0.183411,0.206897,0.218876,0.177997,2013-06-01,2
6674,6674,0.056019,0.183411,0.204433,0.219880,0.177478,2013-06-01,3
6675,6675,0.056019,0.184579,0.199507,0.221888,0.179035,2013-06-01,4
...,...,...,...,...,...,...,...,...
79673,79673,0.056019,0.649533,0.039409,0.019076,0.310846,2021-09-28,18
79674,79674,0.060787,0.651869,0.039409,0.019076,0.313441,2021-09-28,19
79675,79675,0.065554,0.647196,0.039409,0.019076,0.317073,2021-09-28,20
79676,79676,0.065554,0.646612,0.039409,0.019076,0.317073,2021-09-28,21
79677,79677,0.064362,0.646028,0.038177,0.019076,0.316035,2021-09-28,22