In [70]:
import pandas as pd
import numpy as np

In [71]:
raw_path = "./dataset/raw/"

WaterLevel = pd.read_csv(raw_path + "WaterLevel.csv")
RainFall = pd.read_csv(raw_path + "RainFall.csv")
Target = pd.read_csv(raw_path + "Target.csv")

In [72]:
WaterLevel[:5]

,Unnamed: 0,수산대교(창원)_수위,여의리(의령군)_수위,의령군(정암교)_수위,함안군(서출리)_수위,합천군(적포교)_수위
0,2012-08-27 1:00,1.52,0.57,3.83,4.41,0.63
1,2012-08-27 2:00,1.52,0.57,3.82,4.4,0.63
2,2012-08-27 3:00,1.54,0.57,3.81,4.39,0.62
3,2012-08-27 4:00,1.58,0.57,3.79,4.38,0.61
4,2012-08-27 5:00,1.63,0.57,3.77,4.37,0.60

In [73]:
RainFall[:5]

,Unnamed: 0,길곡_강수량(mm),대병_강수량(mm),창녕_강수량(mm),청덕_강수량(mm),함안_강수량(mm)
0,2012-08-27 01:00:00,0.0,0.0,0.0,0.0,0.0
1,2012-08-27 02:00:00,0.0,0.0,0.0,0.0,0.0
2,2012-08-27 03:00:00,0.0,0.0,0.0,0.0,0.0
3,2012-08-27 04:00:00,0.0,0.0,0.0,0.0,0.0
4,2012-08-27 05:00:00,0.0,0.0,0.0,0.0,0.0

In [74]:
Target[:5]

   Unnamed: 0.1           Unnamed: 0  창녕함안보_수위(EL.m)
0             0  2012-08-27 01:00:00            5.45
1             1  2012-08-27 02:00:00            5.45
2             2  2012-08-27 03:00:00            5.45
3             3  2012-08-27 04:00:00            5.45
4             4  2012-08-27 05:00:00            5.45

In [75]:
print("Length of WaterLevel: ", len(WaterLevel))
print("Length of Rainfall: ", len(RainFall))
print("Length of Target: ", len(Target))

Length of WaterLevel:  81935
Length of Rainfall:  81935
Length of Target:  81935

# 시간 표현법 통일

In [77]:
# 수위
df = WaterLevel['Unnamed: 0'].str.split(" ", expand=True)
WaterLevel['date'] = df[0]
WaterLevel['time'] = df[1]
WaterLevel.drop(['Unnamed: 0'], axis=1, inplace=True)

In [82]:
WaterLevel['time'].unique()

array(['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
       '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
       '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00',
       '23:00', '0:00'], dtype=object)

In [87]:
WaterLevel['time'] = pd.to_numeric(WaterLevel['time'].str.split(":", expand=True)[0])       # 시간을 통일된 표기로 정리
WaterLevel[:5]

,수산대교(창원)_수위,여의리(의령군)_수위,의령군(정암교)_수위,함안군(서출리)_수위,합천군(적포교)_수위,date,time
0,1.52,0.57,3.83,4.41,0.63,2012-08-27,1
1,1.52,0.57,3.82,4.4,0.63,2012-08-27,2
2,1.54,0.57,3.81,4.39,0.62,2012-08-27,3
3,1.58,0.57,3.79,4.38,0.61,2012-08-27,4
4,1.63,0.57,3.77,4.37,0.60,2012-08-27,5

In [80]:
# 강수량
df = RainFall['Unnamed: 0'].str.split(" ", expand=True)
RainFall['date'] = df[0]
RainFall['time'] = df[1]
RainFall.drop(['Unnamed: 0'], axis=1, inplace=True)

In [81]:
RainFall['time'].unique()

array(['01:00:00', '02:00:00', '03:00:00', '04:00:00', '05:00:00',
       '06:00:00', '07:00:00', '08:00:00', '09:00:00', '10:00:00',
       '11:00:00', '12:00:00', '13:00:00', '14:00:00', '15:00:00',
       '16:00:00', '17:00:00', '18:00:00', '19:00:00', '20:00:00',
       '21:00:00', '22:00:00', '23:00:00', '00:00:00'], dtype=object)

In [88]:
RainFall['time'] = pd.to_numeric(RainFall['time'].str.split(":", expand=True)[0])       # 시간을 통일된 표기로 정리
RainFall[:5]

,길곡_강수량(mm),대병_강수량(mm),창녕_강수량(mm),청덕_강수량(mm),함안_강수량(mm),date,time
0,0.0,0.0,0.0,0.0,0.0,2012-08-27,1
1,0.0,0.0,0.0,0.0,0.0,2012-08-27,2
2,0.0,0.0,0.0,0.0,0.0,2012-08-27,3
3,0.0,0.0,0.0,0.0,0.0,2012-08-27,4
4,0.0,0.0,0.0,0.0,0.0,2012-08-27,5

In [84]:
# Target
df = Target['Unnamed: 0'].str.split(" ", expand=True)
Target['date'] = df[0]
Target['time'] = df[1]
Target.drop(['Unnamed: 0'], axis=1, inplace=True)

In [86]:
Target['time'].unique()

array(['01:00:00', '02:00:00', '03:00:00', '04:00:00', '05:00:00',
       '06:00:00', '07:00:00', '08:00:00', '09:00:00', '10:00:00',
       '11:00:00', '12:00:00', '13:00:00', '14:00:00', '15:00:00',
       '16:00:00', '17:00:00', '18:00:00', '19:00:00', '20:00:00',
       '21:00:00', '22:00:00', '23:00:00', '00:00:00'], dtype=object)

In [89]:
Target['time'] = Target['time'].str.split(":", expand=True)[0]       # 시간을 통일된 표기로 정리

In [90]:
Target['time'] = pd.to_numeric(Target['time'].str.replace("시", ""))
Target[:5]

   Unnamed: 0.1  창녕함안보_수위(EL.m)        date  time
0             0            5.45  2012-08-27     1
1             1            5.45  2012-08-27     2
2             2            5.45  2012-08-27     3
3             3            5.45  2012-08-27     4
4             4            5.45  2012-08-27     5

In [91]:
print("수위 결측치: ", WaterLevel.isnull().sum())
print("강수량 결측치: ", RainFall.isnull().sum())
print("타겟 결측치: ", Target.isnull().sum())

수위 결측치:  수산대교(창원)_수위    0
여의리(의령군)_수위    0
의령군(정암교)_수위    0
함안군(서출리)_수위    0
합천군(적포교)_수위    0
date           0
time           0
dtype: int64
강수량 결측치:  길곡_강수량(mm)     369
대병_강수량(mm)     795
창녕_강수량(mm)     611
청덕_강수량(mm)    1080
함안_강수량(mm)     475
date             0
time             0
dtype: int64
타겟 결측치:  Unnamed: 0.1      0
창녕함안보_수위(EL.m)    0
date              0
time              0
dtype: int64

# 결측값 제거

## 강수량

In [92]:
from cmath import nan

for reg in RainFall.columns:
    lst = RainFall.loc[RainFall[reg] == 10000].index

    for n in lst:       # 10,000 값을 모두 nan 값으로 변경
        RainFall.loc[n, reg] = nan

In [93]:
RainFall.isnull().sum()

길곡_강수량(mm)     445
대병_강수량(mm)    1063
창녕_강수량(mm)     690
청덕_강수량(mm)    1239
함안_강수량(mm)     505
date             0
time             0
dtype: int64

In [94]:
# 이전 row 값으로 채움
RainFall = RainFall.fillna(method="ffill")

In [95]:
RainFall.isnull().sum()

길곡_강수량(mm)    0
대병_강수량(mm)    0
창녕_강수량(mm)    0
청덕_강수량(mm)    0
함안_강수량(mm)    0
date          0
time          0
dtype: int64

## 수위

In [96]:
WaterLevel.isnull().sum()
# 결측치 없음

수산대교(창원)_수위    0
여의리(의령군)_수위    0
의령군(정암교)_수위    0
함안군(서출리)_수위    0
합천군(적포교)_수위    0
date           0
time           0
dtype: int64

## 창녕함안보 (Target)

In [97]:
Target.columns

Index(['Unnamed: 0.1', '창녕함안보_수위(EL.m)', 'date', 'time'], dtype='object')

In [98]:
Target.isnull().sum()

Unnamed: 0.1      0
창녕함안보_수위(EL.m)    0
date              0
time              0
dtype: int64

In [99]:
lst = Target.loc[Target['창녕함안보_수위(EL.m)'] == 10000].index

for n in lst:
    Target.loc[n, '창녕함안보_수위(EL.m)'] = nan

Target = Target.fillna(method="ffill")

In [100]:
import os
path = "./dataset"
RainFall.to_csv(os.path.join(path, "RainFall.csv"), index=True)
Target.to_csv(os.path.join(path, "Target.csv"), index=True)
WaterLevel.to_csv(os.path.join(path, "WaterLevel.csv"), index=True)

# '-' 바꾸기
2022.09.14

In [102]:
from cmath import nan
import pandas as pd

In [103]:
waterlevel = pd.read_csv("./dataset/WaterLevel.csv")

for reg in waterlevel.columns:
    lst = waterlevel.loc[waterlevel[reg] == '-'].index

    for n in lst:       # 10,000 값을 모두 nan 값으로 변경
        waterlevel.loc[n, reg] = nan

waterlevel = waterlevel.fillna(method="ffill")

C:\Users\mlpa\AppData\Local\Temp\ipykernel_13936\3137417838.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  waterlevel = pd.read_csv("./dataset/WaterLevel.csv")

In [105]:
waterlevel.to_csv("./dataset/WaterLevel.csv", index_label=False)

# 총 방류량 사용

In [1]:
import pandas as pd

In [2]:
Target2 = pd.read_csv("./dataset/raw/Target2.csv")

In [3]:
Target2 = Target2.drop(['Unnamed: 0'], axis = 1)

Target2['수위(EL.m)'] = Target2['수위(EL.m)'].astype('float')

Target2['총유입량(㎥/s)'] = Target2['총유입량(㎥/s)'].str.strip()
Target2['총유입량(㎥/s)'] = Target2['총유입량(㎥/s)'].str.replace(',','')
Target2['총유입량(㎥/s)'] = Target2['총유입량(㎥/s)'].astype('float')

Target2['총방류량(㎥/s)'] = Target2['총방류량(㎥/s)'].str.strip()
Target2['총방류량(㎥/s)'] = Target2['총방류량(㎥/s)'].str.replace(',','')
Target2['총방류량(㎥/s)'] = Target2['총방류량(㎥/s)'].astype('float')

In [4]:
Target2[:5]

   수위(EL.m)  총유입량(㎥/s)  총방류량(㎥/s)
0      5.45   2012.950   1979.978
1      5.45   1985.586   1985.586
2      5.45   1929.865   1929.865
3      5.45   1928.188   1928.188
4      5.45   1927.172   1927.172

In [5]:
Target2.columns = ['수위', '총유입량', '총방류량']

In [6]:
Target2[:5]

     수위      총유입량      총방류량
0  5.45  2012.950  1979.978
1  5.45  1985.586  1985.586
2  5.45  1929.865  1929.865
3  5.45  1928.188  1928.188
4  5.45  1927.172  1927.172

In [7]:
Target2['총유입량'].isnull().sum()

0

In [8]:
len(Target2)

81935

In [10]:
Target2.to_csv("./dataset/Target_discharge.csv")

# 컬럼 이름 변경 (단위 제거)

In [12]:
WaterLevel = pd.read_csv("./dataset/WaterLevel.csv")
RainFall = pd.read_csv("./dataset/RainFall.csv")
Target = pd.read_csv("./dataset/Target.csv")

In [13]:
WaterLevel.columns

Index(['Unnamed: 0', '수산대교(창원)_수위', '여의리(의령군)_수위', '의령군(정암교)_수위',
       '함안군(서출리)_수위', '합천군(적포교)_수위', 'date', 'time'],
      dtype='object')

In [15]:
RainFall.columns = ['Unnamed: 단위(mm)', '길곡강수량', '대병강수량', '창녕강수량', '창덕강수량', '함안강수량', 'date', 'time']

In [16]:
RainFall[:5]

   Unnamed: 단위(mm)  길곡강수량  대병강수량  창녕강수량  창덕강수량  함안강수량        date  time
0                0    0.0    0.0    0.0    0.0    0.0  2012-08-27     1
1                1    0.0    0.0    0.0    0.0    0.0  2012-08-27     2
2                2    0.0    0.0    0.0    0.0    0.0  2012-08-27     3
3                3    0.0    0.0    0.0    0.0    0.0  2012-08-27     4
4                4    0.0    0.0    0.0    0.0    0.0  2012-08-27     5

In [17]:
RainFall.to_csv("./dataset/RainFall.csv")

In [18]:
Target.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'waterlevel', 'date', 'time'], dtype='object')