In [1]:
from dataset import Data
import pandas as pd
from dataset_khs import build_dataset

/home/khs1/miniconda3/envs/cw-jun/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
a = [1,2,3,4,5,6,7,8,9,10]
a[2:5, :]

TypeError: list indices must be integers or slices, not tuple

In [2]:
train_dataset = build_dataset(mode='train', window_size=5)

IndexError: too many indices for tensor of dimension 1

In [2]:
window_size = 100
test_dataset = Data(mode='test', window_size=window_size)
train_dataset = Data(mode='train', window_size=window_size)
valid_dataset = Data(mode='valid', window_size=window_size)

In [11]:
rainfall = pd.read_csv('dataset/RainFall.csv')

In [12]:
rainfall[10:]

,Unnamed: 0,Unnamed: 단위(mm),길곡강수량,대병강수량,창녕강수량,창덕강수량,함안강수량,date,time
10,10,10,0.0,0.0,0.0,0.0,0.0,2012-08-27,11
11,11,11,0.0,0.0,0.0,0.0,0.0,2012-08-27,12
12,12,12,0.0,0.0,0.0,0.0,0.0,2012-08-27,13
13,13,13,0.0,0.0,0.0,0.0,0.0,2012-08-27,14
14,14,14,0.0,0.0,0.0,0.0,0.0,2012-08-27,15
...,...,...,...,...,...,...,...,...,...
81930,81930,81930,0.0,0.0,0.0,0.0,0.0,2021-12-31,19
81931,81931,81931,0.0,0.0,0.0,0.0,0.0,2021-12-31,20
81932,81932,81932,0.0,0.0,0.0,0.0,0.0,2021-12-31,21
81933,81933,81933,0.0,0.0,0.0,0.0,0.0,2021-12-31,22
81934,81934,81934,0.0,0.0,0.0,0.0,0.0,2021-12-31,23

In [11]:
valid_dataset.__len__()

6146

In [20]:
a = []

b = []
c = []

a.append(b)
a.append(c)
print(a)

[[], []]