In [4]:
import pandas as pd
import numpy as np

In [5]:
df =pd.read_csv('data/target.csv')
df

                Unnamed: 0  창녕함안보_수위(EL.m)
0      2012-08-27 01:00:00            5.45
1      2012-08-27 02:00:00            5.45
2      2012-08-27 03:00:00            5.45
3      2012-08-27 04:00:00            5.45
4      2012-08-27 05:00:00            5.45
...                    ...             ...
81930  2021-12-31 19:00:00            4.89
81931  2021-12-31 20:00:00            4.89
81932  2021-12-31 21:00:00            4.90
81933  2021-12-31 22:00:00            4.90
81934  2021-12-31 23:00:00            4.90

[81935 rows x 2 columns]

In [6]:
# 창녕함안보 데이터에 적용
for i in range(len(df)):
    df.loc[i, '일시'] = df['일시'][i][:13] + ':00:00' # 문자열의 13번째 자리까지 해서 '시' << 이걸 빼버림

KeyError: '일시'

In [ ]:
s_year = '12'
year = int(s_year)
replaced_year = '012-'
new_year = '012-'

for i in range(len(df)):
    
    time, new_time = df.loc[i, '일시'][11:], df.loc[i, '일시'][11:]
    day, s_day, new_day , replaced_day= df.loc[i, '일시'][8:10], df.loc[i, '일시'][8:10], df.loc[i, '일시'][8:10], df.loc[i, '일시'][8:10]
    month, s_month, new_month, replaced_month = df.loc[i, '일시'][5:7], df.loc[i, '일시'][5:7], df.loc[i, '일시'][5:7], df.loc[i, '일시'][5:7]

    if df.loc[i, '일시'][11:] == '24:00:00':

        time = df.loc[i, '일시'][11:] # 시간값 ex 12:00:00
        new_time = '00:00:00'
        
        s_day = df.loc[i, '일시'][8:10] # string_day
        s_month = df.loc[i, '일시'][5:7]

        replaced_day = '-' + s_day + ' '
        replaced_month = '-' + s_month + '-'
        print(replaced_day)

        day = int(s_day) # int_day
        month = int(s_month)

        if day == 30 or day == 31 or day == 28 or day == 29: # 만약 말일(last day)이라면 month 값 역시 바꿔줘야함
            # day 가 말일이라면 다음 값(i+1)의 month는 바뀔 것
            if df.loc[i+1, '일시'][5:7] == df.loc[i, '일시'][5:7]: # day가 말일이 아니었음
                
                new_day = '-' + str(day + 1).zfill(2) + ' ' # 날짜에 1을 더함
                new_month = replaced_month

            else : # day가 말일이었음    |    month값 변경
                
                new_day = '-01 '

                if s_month == '12':
                    new_month = '-01-'
                    new_year = '0' + str(year + 1).zfill(2) + '-'
                    year = year + 1
                    print(new_year)


                else:
                    new_month = '-' + str(month + 1).zfill(2) + '-'

                    # df.loc[i, '일시'] = df.loc[i, '일시'].replace(replaced_month, new_month)

        
        else:
            new_day = '-' + str(day + 1).zfill(2) + ' '
            new_month = replaced_month

            # df.loc[i, '일시'] = df.loc[i, '일시'].replace(time, new_time) # 시간값 변경 24:00:00 >> 00:00:00
            # df.loc[i, '일시'] = df.loc[i, '일시'].replace(replaced_day, new_day) # 날짜 값 변경 01 >> 02, 02 >> 03, 31 >> 01
            # df.loc[i, '일시'] = df.loc[i, '일시'].replace(replaced_year, new_year)

    else :
        pass

    df.loc[i, '일시'] = df.loc[i, '일시'].replace(time, new_time) # 시간값 변경 24:00:00 >> 00:00:00
    df.loc[i, '일시'] = df.loc[i, '일시'].replace(replaced_day, new_day) # 날짜 값 변경 01 >> 02, 02 >> 03, 31 >> 01
    df.loc[i, '일시'] = df.loc[i, '일시'].replace(replaced_month, new_month)
    df.loc[i, '일시'] = df.loc[i, '일시'].replace(replaced_year, new_year)

In [ ]:
df.to_csv('sudodata1.csv', encoding='utf-8-sig')

In [ ]:
print(df.loc[3095])
print(df.loc[3071])
print(df.loc[3047])

In [ ]:
df['dt'] = pd.to_datetime(df['일시'])
df

In [ ]:
df = df.set_index('dt')
# df = df.drop(['Unnamed: 0'], axis = 1)

In [ ]:
new_data = df['수위(EL.m)']
new_data

In [ ]:
idx = pd.date_range('08-27-2012 01:00:00', periods=81935, freq='H') # period = 윤년 : 24 * 366 = 8784 | 평년 : 24 * 365 = 8760
idx

In [ ]:
a = df.index.nunique(dropna=True)
a

In [ ]:
lst = df.index.duplicated()
a = np.where(lst == True)
len(a[0])

In [ ]:
for i in a[0]:
    print(new_data.index[i])

In [ ]:
s = new_data.reindex(idx, fill_value=10000)
s #날짜가 없던 날을 추가하고 강수량(value)을 10000으로 채움

In [ ]:
lst = s.values == 10000

count = 0
for i in lst:
    if i == True:
        count += 1

count # 몇 개나 없었냐? 확인

In [ ]:
s

In [ ]:
s = s.to_frame(name = '창녕함안보_수위(EL.m)')
s

In [ ]:
s[s['창녕함안보_수위(EL.m)'] == 10000] # 확인

# 저장

In [ ]:
s.to_csv('data/target.csv',encoding="utf-8-sig" , mode = 'w')